{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
    <div class="container">
        <h1>Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in"></i>
                Login
            </button>
        </form>
        <hr>
        <a href="{{path('app_register')}}" class="btn btn-primary">
            <i class="fa fa-user-plus"></i>
            Créer un compte
        </a>
    </div>
{% endblock %}