{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ project.name }}</h1>
        <img src="{{ asset('uploads/' ~ project.image) }}" alt="{{ project.name }}">

        <ul>
            {% for category in project.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        <p>{{ project.description }}</p>

    </div>


    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
